.btn-grid{
 display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0 7%;
margin-top: 2rem;
}
*{
 font-size: 20px;
}
.btn-grid button{
 width: 130px;
 margin-top: 2rem;
}

@media screen and (max-width:510px) {
*{
 font-size: 20px;
}
.btn-grid button{
 margin-top: 1rem;
}
.btn-grid{
 margin-top: 12px;
}
}
@media screen and (max-width:337px) {
 *{
  font-size: 15px;
 }
}